body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  color: #333;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

/* Sidebar */
.sidebar {
  left: 0;
  top: 0;
  width: 13%;
  background:linear-gradient(to top, rgb(60, 59, 59), rgb(109, 4, 108));
  justify-content: center;
  position: fixed;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight:bolder;
  z-index: 1;
}

.sidebar nav{
  padding: 2vh;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.sidebar nav ul li {
  margin-bottom: 20px;
  font-size: 150%;
}

.sidebar nav ul li a {
  display: block;
  padding: 2vh 2vh;
  text-decoration: none;
  color: #ffffff;
  justify-content: center;
}

.sidebar nav ul li a:hover {
  background-color: rgb(109, 4, 108);
  box-sizing: border-box;
}

/* Content */
.content {
  background: linear-gradient(to top, rgb(124, 124, 124), #b9dbfb);
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  position: fixed;
  justify-content: center;
  display: flex;
}

.hero {
  margin-right: 17%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
.hero .hero-content {
  flex-grow: 1;
  text-align: center;
}


.hero img {
  width: 20%;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  margin: 10px;
  font-size: 2rem;
  color: rgb(94, 74, 138);
  font-weight: 400;
}

.hero-content h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 800;
}

.hero-content p {
  margin: 0;
  margin-bottom: 5%;
  color: #040404;
  font-weight: bold;
}

.action-btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: #575757;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
}

.action-btn:hover {
  background-color: rgb(40, 13, 66);
}

/* Footer */
.footer {
  width: 100%;
  height: fit-content;
  background-color: #A7A5A5;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  align-items: center;
}

.footer ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-left: 0;
  align-items: center;
}

.footer li {
  margin: 0 10px;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.footer p {
  margin: 0;
  font-size: 1rem;
  padding-left: 0;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 0;
}

.footer a span {
  margin-left: 10px;
  padding-left: 0;
  margin: 0;
}

.footer a:hover {
  text-decoration: underline;
  align-items: center;
  padding-left: 0;
}
/* TABLET Section */
@media screen and (max-width: 768px) {
  .sidebar {
      top: 0;
      width: 100%;
      background: linear-gradient(to right, rgb(129, 129, 129), blueviolet);
      position: flex;
      height: 10%;
      display: flex;
      flex-direction: column;
      font-weight: bolder;
  }

  .sidebar nav li{
      float: left;
  }
  
  .sidebar nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      justify-content: center;
  }
  
  .sidebar nav ul li {
      margin-top: 5%;
      font-size: 125%;
  }
  
  .sidebar nav ul li a {
      text-decoration: none;
      color: #ffffff;
      justify-content: center;
  }

  .sidebar nav ul li a {
      display: block;
      padding: 2vh 5vh;
      text-decoration: none;
      color: #ffffff;
      justify-content: center;
  }
  
  .sidebar nav ul li a:hover {
      background-color: rgb(75, 23, 124);
  }

  .content {
      padding: 5vh;
      justify-content: center;
      background: linear-gradient(to top, rgb(124, 124, 124), #b9dbfb);
      flex-direction: column;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: fixed;
      justify-content: center;
      display: flex;
  }
  
  .hero-content {
      text-align: center;
  }

  .hero {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0%;
  }

  .hero img {
      margin: 0;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 90px;
  }

  .footer li {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
}
